body {
    width: 100%;
    background-color:#2b2b2b;
    color: #eeeeee;
}

h1 {
    text-align: center;
    color: #439775;
    text-transform:uppercase;
    letter-spacing:3px;
}

h2 {
    background-color: #121212;
    color:#439775;
    padding:10px;
    letter-spacing:3px;
    font-variant: small-caps;
}

.content-container {
    width:75%;
    margin:20px auto;
    padding:10px;
    background-color: #121212;
    border: 1px solid #454545;
}

.content-container-inner {
    margin: auto;
    padding:10px;
    background-color: #2b2b2b;
    border: 1px solid #454545;
}

.form-control, .form-control:focus input[type=select]:focus {
    background-color: #3e3e3e!important;
    border: #494949 1px solid!important;
    border-radius:0!important;
    color: #eeeeee!important;
}

.generate-button {
    text-align: center;
}

.generate-button button {
    text-transform: uppercase;
    color: #eeeeee;
    background-color: #439775;
    padding:10px;
    border:0px;
    width:50%;
    margin-top:15px;
}