body {
    width: 100%;
    background-color:#d1e5d9;
    color: #2b2b2b;
}

#output {
    background-color:#fff;
    padding:10px;
    width:100%;
    border:1px solid #b0cbbb;
    font-family:monospace;
    min-height:70px;
    overflow-y: auto;
}

h1 {
    text-align: center;
    background-color: #439775;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:3px;
    padding:10px;
    border-radius:5px;
}

h2 {
    color:#439775;
    padding:10px;
    letter-spacing:3px;
    font-variant: small-caps;
    border-bottom:1px solid #439775;
}

.content-container {
    width:75%;
    margin:20px auto;
    padding:10px;
    background-color: #fff;
    border: 1px solid #b0cbbb;
    border-radius:10px;
}

.content-container-inner {
    background-color:#f0f8f4;
    margin: auto;
    padding:10px;
    border: 1px solid #b0cbbb;
    border-radius:5px;
}

.form-control, .form-control:focus input[type=select]:focus {
    background-color: #fff!important;
    border: #b0cbbb 1px solid!important;
    color: #2b2b2b!important;
}

.generate-button {
    text-align: center;
}

.generate-button button {
    text-transform: uppercase;
    color: #2b2b2b;
    background-color: #b0cbbb;
    padding:10px;
    border:0px;
    width:20%;
    margin-top:15px;
    border-radius:5px;
}