<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Pokemon Egg Generator</title>
    <meta name="description" content="Pokemon Egglocke Generator">

    <link href="../static/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">

</head>

<body>
<script>
    function copyToClipboard() {
        textToCopy = document.getElementById("output");

        textToCopy.select();
        textToCopy.setSelectionRange(0, 99999);

        document.execCommand("copy");
    }

    function selectAllOrNone() {
        checkboxes = document.querySelectorAll('input[type=checkbox]');

        for (let i = 1; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkboxes[i].checked = false;
                checkboxes[i].disabled = false;
            }
            else {
                checkboxes[i].checked = true;
                checkboxes[i].disabled = true;
            }
        }
    }

</script>

<div class="content-container">
    <h1>Pokemon Egg Generator</h1>
    <div class="content-container-inner">
        <h2>About</h2>
        <p>Welcome to the Pokemon Egg Generator. As the name suggests, it generates Pokemon eggs that can be imported
            into PKHeX with the use of the <a href="https://github.com/CDNRae/pkhex-bulk-importer">Bulk Importer</a>
            plugin. Both the plugin and tool were designed to help Nuzlockers set up an Egglocke that doesn't rely on
            egg donations from others.</p>

        <p>Currently, the tool can generate Pokemon from Gens I - VII, for use in the core games from Gens II - VII. You
            could probably use it for Sword and Shield too, though I can't guarantee that the Pokemon generated will be
            100% compatible with those games. Additionally, since the generator doesn't take into account the game you
            plan to use, it may still generate Pokemon with some illegal movesets (i.e. Hoppip learns Synthesis at level
            5 in Crystal, but level 1 in GS. The generator doesn't care, and will create Hoppip with Synthesis even if
            you plan to import it to Crystal) . Please be sure to check over the
            generated Pokemon and correct any problems once you have imported them into PKHeX.</p>

        <p>This tool is still in development. If you find a bug, please log the issue <a
                href="https://github.com/CDNRae/pokemon-egg-generator/issues">here</a>.</p>
    </div>
    <br>
    <div class="content-container-inner">
        <h2>Generate Pokemon</h2>
        <form action="/index" method="post" role="form" class="row g-3">
            <div class="col-md-6">
                <label for="number_to_generate">Number of Pokemon to Generate:</label>
                <input type="number" class="form-control" id="number_to_generate" name="number_to_generate" min="1" max="100" value="{{ user_data.number_to_generate }}">
            </div>

            <div class="col-md-6">
                <label for="generation">For Use In Generation:</label>
                <select class="form-control" id="generation" name="generation">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="shiny_chance">Shiny Chance (%):</label>
                <input type="number" class="form-control" id="shiny_chance" name="shiny_chance" min="1" max="100" value="{{ user_data.shiny_chance }}">
            </div>

            <div class="col-md-4">
                <label for="egg_move_chance">Egg Move Chance (%):</label>
                <input type="number" class="form-control" id="egg_move_chance" name="egg_move_chance" min="1" max="100" value="{{ user_data.egg_move_chance }}">
            </div>

            <div class="col-md-4">
                <label for="hidden_ability_chance">Hidden Ability Chance (%):</label>
                <input type="number" class="form-control" id="hidden_ability_chance" name="hidden_ability_chance" min="1" max="100" value="{{ user_data.hidden_ability_chance }}">
            </div>

            <fieldset>
                Types to Include:<br>
                <input type="checkbox" name="type" value="AllOrNone" id="AllOrNone" onchange="selectAllOrNone()" checked> Select/Deselect All<br>
                <input type="checkbox" name="type" value="Normal" checked disabled> Normal<br>
                <input type="checkbox" name="type" value="Fire" checked disabled> Fire<br>
                <input type="checkbox" name="type" value="Fighting" checked disabled> Fighting<br>
                <input type="checkbox" name="type" value="Water" checked disabled> Water<br>
                <input type="checkbox" name="type" value="Flying" checked disabled> Flying<br>
                <input type="checkbox" name="type" value="Grass" checked disabled> Grass<br>
                <input type="checkbox" name="type" value="Poison" checked disabled> Poison<br>
                <input type="checkbox" name="type" value="Electric" checked disabled> Electric<br>
                <input type="checkbox" name="type" value="Ground" checked disabled> Ground<br>
                <input type="checkbox" name="type" value="Psychic" checked disabled> Psychic<br>
                <input type="checkbox" name="type" value="Rock" checked disabled> Rock<br>
                <input type="checkbox" name="type" value="Ice" checked disabled> Ice<br>
                <input type="checkbox" name="type" value="Bug" checked disabled> Bug<br>
                <input type="checkbox" name="type" value="Dragon" checked disabled> Dragon<br>
                <input type="checkbox" name="type" value="Ghost" checked disabled> Ghost<br>
                <input type="checkbox" name="type" value="Dark" checked disabled> Dark<br>
                <input type="checkbox" name="type" value="Steel" checked disabled> Steel<br>
                <input type="checkbox" name="type" value="Fairy" checked disabled> Fairy<br>
            </fieldset>

            <input type="radio" id="first_form_only" name="type_form_restrictions" value="0">
            <label for="first_form_only">Apply type restrictions to first form only</label><br>

            <input type="radio" id="final_form_only" name="type_form_restrictions" value="1">
            <label for="final_form_only">Consider type of final form only</label><br>

            <div class="generate-button">
                <button type="submit">Generate</button>
            </div>
        </form>
    </div>
    <br>
    <div class="content-container-inner">
        <h2>Output</h2>
        <textarea id="output" readonly>{{ pokemon_data }}</textarea>

        <div class="generate-button">
            <button onclick="copyToClipboard()">Copy Output to Clipboard</button>
        </div>

    </div>
</div>
</div>
</body>
</html>